.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 122, 122, 0.603);
  width: 100%;
  padding: 20px;
}
.profile__card {
  background-color: #bbff61;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  width: 400px;
  
  border-radius: 12px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  border-bottom: #75002b solid 2px;
}

.avatar {
  width: 340px;
  border-radius: 40%;
  background-color: #ffffff;
  padding: 20px 10px 0px 10px;
}

.name {
  font-weight: 700;
  font-size: 30px;
  color: #75002b;
}

.tag {
  font-weight: 500;
  font-size: 16px;
  color: #5ba000;
}

.location {
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  color: #524a4d94;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding: 0;
  width: inherit;
  background-color: #8f96ffa4;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
  padding: 10px 0;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.numbers {
  font-weight: 600;
  font-size: 20px;
  color: #bbff61;
}
