.friends {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(212, 255, 223);
  width: 100%;
}
.friends__title {
  font-weight: 700;
  font-size: 30px;
  color: #75002b;
}

.friends__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 250px;
  gap: 10px;
  width: inherit;
}
