.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  width: 100%;
  padding: 20px 0px 20px 0px;
}
.statistics__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #c6cccced;
  border-radius: 12px;
  background-color: #fff;
}

.title {
  font-weight: 700;
  font-size: 30px;
  color: #75002b;
}

.stats__list {
  width: 370px;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.stats {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: inherit;
  align-items: center;
  background-color: #fff;
}

.label {
  font-weight: 800;
  font-size: 16px;
  color: #8f96ffa4;
  margin-bottom: 5px;
}

.percentage {
  font-weight: 800;
  font-size: 20px;
  color: #bbff61;
}
