.transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
  width: 100%;
}
.transactions__title {
  font-weight: 700;
  font-size: 30px;
  color: #75002b;
}
table {
  box-shadow: 0 0 10px #c6cccced;
  width: 400px;
  border-spacing: 0;
  background-color: #fff;
}

table tr {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #aaaaaa;
  text-align: center;
  gap: 20px;
}
table tr:not(:last-child) {
  margin-bottom: 5px;
}
thead tr {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #8f96ffa4;
  font-size: 20px;
}
tbody td {
  padding: 10px;
  text-align: center;
  width: inherit;
  font-weight: 700;
  font-size: 12px;
  color: #524a4d;
}

