.friends__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #c6cccced;
  width: 250px;
  padding: 25px;
  cursor: pointer;
  background-color: #fff;
}
.friends__status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.true {
  background-color: green;
}
.false {
  background-color: #75002b;
}

.avatar {
  width: 80px;
  padding-right: 10px;
}
.friends__name {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
  color: #75002b;
}
